<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <form method="post" action="" onsubmit="return false;" enctype="multipart/form-data" id="myform">
        <input type="file" id="file" accept="image/*" />
        <button id="ab">Send</button>
    </form>
    <div class="cd"></div>
    <div class="fg"></div>
    <div class="cards"></div>
</body>
<style>
    .cd {
        margin-top: 40px;
    }
    .fg {
        margin-top: 30px;
    }
    .card {
      width: 200px;
      height: 200px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }

    .cards {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>
<script>
    $(document).ready ( function () {
        $("#ab").click ( function () {

            var fd = new FormData();
            var files = $('#file')[0].files[0];
            fd.append('file',files);

             $('.cd').html('await result');
            $.ajax({
                url: '/1',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {
                     $('.cd').html(data['question']);
                     $('.fg').html(data['text']);
                },
            });
        });
        function poll() {
        var poll_interval=0;

        $.ajax({
                url: poll_url,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                        display_message(data);
                        poll_interval=0;
                },
                error: function () {
                        poll_interval=1000;
                },
                complete: function () {
                        alert('recieved');
                },
        });
    }
    });
</script>
</html>